.contenedor-PieDePagina {
    background: rgb(196, 196, 196);
    border-top: 1px solid rgb(196, 196, 196);
   
}
.contenedor-informacion-general-PieDePagina{
    padding: 15px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(233, 233, 233);
    background: rgb(76, 76, 76);
}
.contenedor-secciones-PieDePagina {
    padding:20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    
}

.titulo-redes-sociales-PieDePagina {
    width: 150px;
    margin-top: 30px;
    text-align: center;
    font-size: 10pt;
    
}
.seccion2-PieDePagina {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 30px;
}
.seccion3-PieDePagina {
    margin-bottom: 30px;
}
.mapa-PieDePagina {
    background: rgb(107, 107, 107);
    height: 120px;
    width: 260px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.contenedor-sucursales-PieDePagina{
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20px;
    margin-bottom: 20px;
    position: relative;
}
.sucursales-PieDePagina {
    position: absolute;
    margin: 5px;
}
.imagen-PieDePagina{
    height: auto;
    width:100%;
}
.item-sucursal-PieDePagina {
    margin: 3px;
    border-radius: 5px;
    width: 80px;
    padding: 3px;
    cursor:pointer;
    background-color: rgba(248, 248, 248, 0.833);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.item-sucursal-PieDePagina:hover {
    background-color: rgba(194, 194, 194, 0.892);
}

@media (max-width:1007px) {
    .titulo-redes-sociales-PieDePagina {
        width: 80%;
        
    }
    .contenedor-secciones-PieDePagina {
        flex-flow: column;
    }  
    .seccion2-PieDePagina {
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 20px;
        width: 90%;
    }
    .mapa-PieDePagina {
        width: 400px;
        height: 200px;
        
    }
    .contenedor-sucursales-PieDePagina{
        display: flex;
        flex-flow: row wrap;
    }
    .imagen-PieDePagina{
        height: auto;
        width: 410px;
    }
}
@media (max-width:525px) {
    .seccion2-PieDePagina {
        flex-flow: column;
        width: 90%;
    }
}

.icono-red-social {
    fill: rgb(114, 114, 114);
}

.icono-instagram:hover {
    fill: rgb(234, 46, 46);
}
.icono-facebook:hover {
    fill: rgb(12, 12, 115);
}
.icono-youtube:hover  {
    fill: rgb(137, 17, 17);
}

.iconoLogo-PieDePagina{
    width: 70px;
    height: 74px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
   
}
.redes-sociales-PieDePagina {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
   
}
.seccion1-PieDePagina {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.textLinks-PieDePagina {
    font-size: 10pt;
    color: rgb(113, 113, 113);
    text-decoration:none;
    display: block;
}
.item-informacion-PieDePagina {
    margin-left: 25px;
    margin-bottom: 20px;
}
.item-titulo-informacion-PieDePagina {
    margin: 10px;
}
.texto-seccion3-PieDePagina{
    margin-left: 20px;
}

.contenedor-item-informacion-PieDePagina {
    display: flex;
    flex-direction: column;
}
