.contenedor-BarraDeNavegacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 57px;
}

.icono-BarraDeNavegacion {
    margin-top: auto;
    padding-bottom: 3px;
    margin-left: 5%;
}

.nav-BarraDeNavegacion{
    z-index: 10;
    display: flex; 
    flex-flow: row nowrap;
}

/*Estilos boton link del NAV*/
.link-BarraDeNavegacion {
    height: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: rgb(69, 69, 69);
    text-decoration: none;
    font-weight:bold
}
.link-BarraDeNavegacion:hover{
        color:  rgb(147, 0, 0);
        border-bottom: 3px solid rgb(150, 0, 0);
}
.link-BarraDeNavegacion:active{
    color:  rgb(200, 0, 0);
    border-bottom: 3px solid rgb(200, 0, 0);
}
.link-BarraDeNavegacion.active{
    color:  rgb(175, 0, 0);
    border-bottom: 3px solid rgb(175, 0, 0);
}

/*Estilos Boton Menu desplegable*/
.contenedor-boton-menu-desplegable-BarraDeNavegacion {
    display: none;
}
.texto-menu-desplegable-BarraDeNavegacion {
    padding-top: 17px;
    padding-right: 15px;
    color: rgb(151, 151, 151);
}

.boton-menu-desplegable-BarraDeNavegacion {
    border: 0;
    border-radius: 5px;
    padding-top:7px;
    padding-left: 7px;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(196, 196, 196);
    margin:0;
    margin-right: 20px;
    margin-top: 11px;

}

/*Cambios de estilos responsivo. Adaptable valores menores 600px*/
@media only screen and (max-width: 600px) {
    .contenedor-boton-menu-desplegable-BarraDeNavegacion{
        display: flex;
        flex-flow: row nowrap;
    }

    .contenedor-nav-BarraDeNavegacion {
        position: absolute;
        right: 0;
        border-left: 1px solid rgb(196, 196, 196);
        border-bottom: 1px solid rgb(196, 196, 196);
        border-radius: 0px 0px 0px 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 250px;
        top: 58px;
        background-color: rgba(248, 248, 248, 0.597);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 10;
        transition: 1s ease all ; 
    }
    .contenedor-desactivo {
        width: 0;
        border-left: 1px solid rgba(196, 196, 196, 0);
        border-bottom: 1px solid rgb(196, 196, 196);
    }
    
    .nav-BarraDeNavegacion {
        width: 250px;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;

    }
    .menu-desactivo {
        width: 0px;
        opacity: 0.3;
    }

    .link-BarraDeNavegacion {
        height: 30px;
        padding-top: 10px;
        margin-left: 10px;
        margin-top: 10px;
        border: 2px solid rgba(255, 255, 255, 0);
        opacity: 1;  
    }
    .link-BarraDeNavegacion:hover{
        color:  rgb(147, 0, 0);
        background: rgba(255, 255, 255, 0.496);
        border-radius: 10px 0px 0px 10px;
        border: 2px solid rgba(0, 0, 0, 0.214);
    }
    .link-BarraDeNavegacion:active{
        color:  rgb(200, 0, 0);
        border: 2px solid rgb(175, 0, 0);
        border-radius: 10px 0px 0px 10px;
        margin-left: 10px;
    }
    .link-BarraDeNavegacion.active{
        color:  rgb(175, 0, 0);
        border: 2px solid rgb(175, 0, 0);
        border-radius: 10px 0px 0px 10px;
        margin-left: 10px;
    }
    .link-desactivo {
        opacity: 0.3;
    }

    
}
