
.contenedor-PlaceholderModelos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.contenedor-item-PlaceholderModelos {
    width: 300px;
    height: 310px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 2px 4px 4px 1px rgba(143, 143, 143, 0.153);

    animation-name: opacidad;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes opacidad {
    from {opacity: 1;}
    to {opacity: 0.3;}
}

.texto-titulo-PlaceholderModelos {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 130px;
    height: 25px;
    border-radius: 10px;
    background: rgb(188, 188, 188);
}
.contenedor-subtitulo-PlaceholderModelos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: rgb(188, 188, 188);

}
.texto-subtitulo-año-PlaceholderModelos {
    margin-right: 5px;
    width: 50px;
    height: 15px;
    border-radius: 6px;
    background: rgb(188, 188, 188);
}
.texto-subtitulo-precio-PlaceholderModelos {
    margin-left: 5px;
    width: 110px;
    height: 15px;
    border-radius: 6px;
    background: rgb(188, 188, 188);
}