.encabezado-FichaTecnica{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.contenedor-imagen-encabezado-FichaTecnica {
    max-width: 600px;
    max-height: 350px;
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.contenedor-texto-encabezado-FichaTecnica{
    width: 40%;    
}
.imagen-vehiculo-FichaTecnica {
    width: 100%;
    height: auto;
}

.titulo-FichaTecnica {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: rgb(77, 77, 77);
}
.subtitulo-FichaTecnica {
    margin: 0;
    padding: 0;
    color: rgb(78, 78, 78);
}
.descripcion-FichaTecnica {
    color: rgb(109, 109, 109);
}


.seccion-decripcion-vehiculo-FichaTecnica {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}
.seccion-impar-FichaTecnica{
    flex-direction:row-reverse;
}
.seccion-par-FichaTecnica{
    flex-direction:row;
}


.contenedor-textos-seccion-FichaTecnica {
    width: 40%;    
    padding-top: 3%;
} 
.titulo-seccion-FichaTecnica {
    font-size: 20px;
}
.contenedor-imagen-seccion-FichaTecnica {
    display: flex;
    width: 450px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.imagen-seccion-FichaTecnica {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 939px) {
    .contenedor-texto-encabezado-FichaTecnica{
        width: 80%;
    }
    .contenedor-textos-seccion-FichaTecnica {
        width: 95%;
    } 
    .contenedor-imagen-seccion-FichaTecnica {
        width: 95%;
    }
}